@import 'tailwindcss';


:root {
  --content-background: #0e0e0e;
  --background: #171717;
  --foreground: #e7e7e7;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Montserrat, serif;
}

button {
  cursor: pointer;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.content-background {
  background: var(--content-background);
}

.card-border-wrap {
  --card-radius: 1rem;
  position: relative;
  border-radius: var(--card-radius);
  overflow: hidden;
  background: var(--content-background);
  box-shadow: 6px 6px 12px #050505, -6px -6px 12px #222222;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-border-wrap:hover {
  transform: scale(1.02);
  box-shadow: 8px 8px 16px #030303, -8px -8px 16px #282828;
}

.card-border-inner {
  position: relative;
  z-index: 1;
  border-radius: inherit;
  background: var(--content-background);
}


::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: #222222;
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #636363;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #979797;
}
