.checkOutBlog {
  --gradient: linear-gradient(-35deg, #db4c4c, rgb(255, 151, 65));

  position: relative;
  display: inline-block;
  border: none;
  cursor: pointer;
  outline: none;
  font-size: 1.15rem;
  font-weight: 600;
  background-image: var(--gradient);
  padding: 1rem 2rem;
  border-radius: 2rem;
  box-shadow: 0 22px 44px rgba(gray, 0.1);
  transition: box-shadow 0.25s;
}

.checkOutBlog::after {
  content: '';
  position: absolute;
  inset: 2px;
  border-radius: 2rem;
  background: var(--background);
  z-index: 0;
}

.checkOutBlogText {
  position: relative;
  z-index: 1;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: var(--gradient);
}
